<p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @tom_and_mom.header %>
</p>

<p>
  <strong>Body:</strong>
  <%= @tom_and_mom.body %>
</p>

<%= link_to 'Edit', edit_tom_and_mom_path(@tom_and_mom) %> |
<%= link_to 'Back', tom_and_moms_path %>
