<p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @cody_and_amanda.header %>
</p>

<p>
  <strong>Body:</strong>
  <%= @cody_and_amanda.body %>
</p>

<%= link_to 'Edit', edit_cody_and_amanda_path(@cody_and_amanda) %> |
<%= link_to 'Back', cody_and_amandas_path %>
