<p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @jj.header %>
</p>

<p>
  <strong>Body:</strong>
  <%= @jj.body %>
</p>

<%= link_to 'Edit', edit_jj_path(@jj) %> |
<%= link_to 'Back', jjs_path %>
