<%= form_with(model: shorty, local: true) do |form| %>
  <% if shorty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shorty.errors.count, "error") %> prohibited this shorty from being saved:</h2>

      <ul>
      <% shorty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :header %>
    <%= form.text_field :header, id: :shorty_header %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :shorty_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
