<p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @david_and_naomi.header %>
</p>

<p>
  <strong>Body:</strong>
  <%= @david_and_naomi.body %>
</p>

<%= link_to 'Edit', edit_david_and_naomi_path(@david_and_naomi) %> |
<%= link_to 'Back', david_and_naomis_path %>
